<html>
    <head>
      <style>
        body {
          background-color: white;
        }

        h1 {
          font-family: arial;
          color: navy;
        }

        .stats {
          float: right;  
          padding: 25px;      
        }

        .down {
          font-family: arial;
          color: red;
        }

        .up {
          font-family: arial;
          color: green;
        }
      </style>

      <!-- Import Google Charts API -->
      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

      <script type="text/javascript">
        google.charts.load('current', {'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
  
        // Draw the chart
        function drawChart() {
            var data = new google.visualization.DataTable();

            // Define the columms
            data.addColumn('number', 'Day');
            data.addColumn('number', 'AK-47 | Baroque Purple (Field-Tested)');
                      
            // Put data shit in a foreach
            let price;
            let i = 0

            <% items.forEach(item => { %>
                // For each item document, a dot is added to the line
                price = parseFloat(<%= item.Price %>)
                data.addRows([[i,  price]])
                i = i +1
            <% }) %>
        
            // Define the chart and give information
            var options = {
                title: 'AK-47 | Baroque Purple (Field-Tested)',
                subtitle: 'Price over a period of time',
                backgroundColor: {
                  fill: 'white',
                  fillOpacity: 1
                },
                width: 900,
                height: 900
            };
  
          // Set up chart as a curve chart and draw it
          var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
          chart.draw(data, options);
        }
        
        // Refresh the page every once in a while
        const refresh = () => {
            window.location.reload()
        }
        setTimeout(refresh, 900000)

      </script>
    </head>
    <body>
      <!-- Information about price and price change -->
      <div class="stats">
        <h1>
          Price: <%= price[0].Price %> €
        </h1> 
        <% if(parseFloat(percentage[0].Percentage) < 0) { %>
          <h2 class="down">
            Percentage: <%= percentage[0].Percentage %>
          </h2>
        <% }  else { %>
          <h2 class="up">
            Percentage: <%= percentage[0].Percentage %>
          </h2>
        <% } %>
      </div>  
      <div id="curve_chart" style="width: 900px; height: 500px"></div>
          
    </body>
  </html>